
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libgnomesu-1.0.pc
libtool
ltmain.sh
missing
pam-backend/gnomesu-pam-backend
po/Makefile.in.in
po/POTFILES
po/libgnomesu-1.0.pot
po/stamp-it
po/*.gmo
su-backend/gnomesu-backend
tools/gnomesu
.deps
*.la
*.lo
*.o
.deps
.libs
*~
